main{
  min-height:80vh;
}

.rating span{
  margin:0.1rem ;
}
h3{
  padding :1rem 0;
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #404049;
  color: #414149;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2f2f38;
}

.paginationActive a {
  color: white;
  background-color: #33333a;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: rgb(63, 60, 60);
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}